
.form-container{
    padding: 2.5rem 3rem;
    background-color: silver;
    border-radius: 1rem;
    width: 100%;
    max-width: 400px;
}

.form-container .input-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

.form-container h2{
    margin-bottom: 2.5rem;
}

.form-container input{
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    border: none;
    outline: 1px solid purple;

}

.form-container button{
    padding: 0.5rem 0;
    font-size: 1rem;
    background-color: purple;
    border: none;
    color: white;
    border-radius: 0.2rem;
    width: 100%;
    margin-top: 1rem;
}